
  #form{
    max-width: 700px;
    padding: 32px;
    box-sizing: border-box;
  }
  label, input{
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 18px;
  }
  label {
    text-align: right;
    width: 30%;
  }
  input {
    border: 2px solid #aaa;
    border-radius: 2px;
  }